.market-name{
    font-family: Nunito;
    font-weight: bold;
    color: white;
    font-size: 14px;
}

.market-change{
    font-family: Nunito;
    font-weight: 600;
    color: white;
    font-size: 12px;
}

.market-price{
    font-family: Nunito;
    font-weight: 600;
    font-size: 8px;
    color: white;
    margin-top: 5px;
}

.arrow{
    color: white;
}

.market-card{
    height: 75px;
    margin-bottom: 10px;
    border-style: solid;
    box-shadow: 4px 10px 10px rgba(0,0,0,0.25);
}
